* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-green: rgb(4, 68, 51);
    --color-white: #fff;
    --color-teal: rgb(9, 68, 9);
}

.img {
    display: block;
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

body {
    width: 100%;
    height: 100%;
    font-size: calc(1.5rem, 2.5rem, 2rem);
    font-family: sans-serif;
}

.header {
    background-color: var(--color-white);
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin: 0 0 1rem 0 ;
    padding: 1em;
    position: fixed;
    top: 0;
    z-index: 2;
    box-shadow: 1px 1px grey;
    width: 100%;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 25px ;
    border-radius: 50px;
    background-color: var(--color-green);
    font-size: 1rem;
    letter-spacing: 3px;
    color: var(--color-white);

}

.navigation {
    display: flex;
    justify-content: space-between;
    gap: 2em;
}

.nav_ul {
    font-size: 20px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    gap: 3em;
    list-style: none;
    padding: 1rem 4rem 1rem 4rem;
    box-shadow: 5px 5px 3px rgb(220, 218, 218);
    border-radius: 50px;
}

.navigation_li {
    position: relative;
}

.navigation_li:hover::after {
    content: ' ';
    width: 70%;
    height: 3px;
    background-color: #555;
    position: absolute;
    left: 0px;
    bottom: -2px;
    transition: 0.5s ease-in-out;
}

.sub_ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
}

.sub_ul_btn {
    font-size: 20px;
    font-weight: 500;
    background-color: var(--color-white);
    border: transparent;
    list-style: none;
    padding: 1rem 4rem 1rem 4rem;
    box-shadow: 5px 5px 3px rgb(220, 218, 218);
    border-radius: 50px;
}

#green {
    color: rgb(37, 228, 120);
}

.dropdown_toggle {
    outline: none;
    display: none;
    cursor: pointer;
}

.main_header {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-bottom: 2rem;
}

.header_h1 {
    font-weight: 750;
    font-size: 2.5em;
}

.main {
    margin-top: 10em;
    padding: 0 1em 0 1em ;
}

.main_body {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 2.5rem;
    align-content: center;
}

.main_section {
    width: 400px;
    height: 100%;
    border: 3px solid #000;
    border-radius: 15px;
}

.section_div {
    width: 352px;
    height: 200px;
}

.section_img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom: 2px solid #000;
}

.section_article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.5em;
    gap: 1rem;
    padding: 1rem;
    border-top: 2px solid #000;
}

.article_h3 {
    text-align: center;
    font-size: 14px;
    font-weight: 800;
}

.article_p {
    text-align: center;
    font-size: 14px;
}

.article_button{
    width: 100%;
    padding: 10px;
    border: transparent;
    background-color: rgba(219, 230, 219, 0.312);
    color: var(--color-teal);
    cursor: pointer;
}

.article_button:hover{
    background-color: var(--color-green);
    color: var(--color-white);
    
}


@media screen and (max-width: 1024px) {
    .header {
        justify-content: space-between;
        align-items: center;
        
    }

    .header .navigation {
        position: absolute;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        box-shadow: 5px 5px 3px rgb(220, 218, 218);
        opacity: 0;
        transition: all 0.5s;
    }
    
    .nav_ul {
        font-size: 20px;
        font-weight: 500;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 3em;
        list-style: none;
        padding: 1rem 4rem 1rem 4rem;
        border: 1px solid transparent;
        box-shadow: none;
        border-radius: 5px;
    }
    
    
    .navigation_li:hover::after {
        content: ' ';
        width: 70%;
        height: 3px;
        background-color: #555;
        position: absolute;
        left: 0px;
        bottom: -2px;
        transition: 0.5s ease-in-out;
    }
    
    .sub_ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1rem;
    }
    
    .sub_ul_btn {
        font-size: 20px;
        font-weight: 500;
        background-color: var(--color-white);
        border: transparent;
        list-style: none;
        padding: 1rem 4rem 1rem 4rem;
        border-radius: 50px;
        box-shadow: none;
    }

    .dropdown_toggle {
        display: block;
        background-color: transparent;
        border: 1px solid grey;
        border-radius: 5px;
        padding: 7px;
        cursor: pointer;
    }

    .dropdown_toggle:hover {
        box-shadow: 1px 1px grey;
    }

    .active {
        opacity: 1;
    }

    .main_body {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2.5rem;
        align-content: center;
        width: 100%;
    }
}

@media screen and (max-width: 769px) {

    .logo {
        font-size: 1rem;
    }

    .main {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 2.5rem;
        align-content: flex-start;
    }

}

@media screen and (max-width: 426px) {
    .main {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 2.5rem;
        align-content: center;
        width: 100%;
    }

    .main_section {
        width: 100%;
        height: 100%;
        border: 3px solid #000;
        border-radius: 15px;
    }

    .section_img {
        width: 390px;
    }
}

@media screen and (max-width: 415px) {
    .section_img {
        width: 379px;
    }
}

@media screen and (max-width: 391px) {
    .section_img {
        width: 355px;
    }
}
@media screen and (max-width: 376px) {
    .section_img {
        width: 339px;
    }
}

@media screen and (max-width: 360px) {
    .section_img {
        width: 324px;
    }
}

@media screen and (max-width: 321px) {
    .section_img {
        width: 285px;
    }
}
